:root {
	--defaultlink: #26AE90;
	--hoverlink: #19705d;
	--transitiontime: 0.2s;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
	font-family: "Arial";
	margin: 0;
	padding: 0;
}

.navbar {
	overflow: hidden;
	position: fixed;
	background-color: #FFFFFF;
	top: 0;
	width: 100%;
	box-shadow: 1px 1px 10px lightgrey; /* right shift, down shift, blur */
	z-index: 100;
}

.navbar-elements{
	width: 1000px;
	margin: auto;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 50px 14px 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
  color: black;
  font-family: Freeman;
}

.content {
	width: 1000px;
	margin: auto;
	margin-top: 100px;
}

li, p {
	line-height: 1.5;
	margin-top: 0px;
}

a {
	color: var(--defaultlink);
	text-decoration:none;
	transition:color var(--transitiontime) ease-in-out; 
}

a:hover {
  color: var(--hoverlink);
}

.button div {
	background-color: var(--defaultlink);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey; /* right shift, down shift, blur */
	color: white;
	font-size: 120%;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	transition:background-color var(--transitiontime) ease-in-out; 
}

.big-button div {
	background-color: var(--defaultlink);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey; /* right shift, down shift, blur */
	color: white;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	transition:background-color var(--transitiontime) ease-in-out; 
}

.button div:hover, .big-button div:hover {
	background-color: var(--hoverlink);
}

.top-align tr {
	vertical-align: top;
}

td {
	padding: 10px;
}

blockquote { 
	position: relative; 
	padding: 1.5em 3em 0.5em 3em; 
	background: #0000000d; 
	margin: 0 auto 30px; 
	border-radius: 20px;
}

blockquote:before { 
	position: absolute; 
	content: '\201C'; 
	top: 0.75em; 
	left: 0.5em; 
	font-size: 2.2em; 
	line-height: 1; 
	font-weight: bold; 
}

h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: freeman;
	font-size: 300%;
}

details {
	border: 2px solid white;
}

details > div {
	padding: 15px;
	background-color: white; /* originally using #F3F3F3 */
}

summary {
	cursor: pointer;
	list-style: none;
	padding: 15px;
	font-weight: bold;
	color: #525252;
	background-color: #f2f2f2;
	transition:background-color var(--transitiontime) ease-in-out;
	border-radius: 10px;
}

summary.red{
	background-color: #FFBABA;
	border-radius: 10px;
}

summary:hover {
	background-color: #E8E8E8;
	border-radius: 10px;
}

summary.red:hover {
	background-color: #FFACAC;
	border-radius: 10px;
}

.label {
	font-weight: bold;
}

.sublabel {
	font-style: italic;
}

.emphatic {
	font-size:150%; 
	font-weight:bold;
}

.timetable td {
	text-align: center;
	padding: 0px;
	width: calc(100%/8);
}

table.timetable {
		border-spacing: 3px;
}

.tinytext{
	font-size: 80%;
}

.available {
	background-color: #D9EAD3;
}


/* following code from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 80%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
	cursor:pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .9;
}