/* */
/* GLOBAL DEFAULTS AND VARIABLES */
/* */

	:root {
		--defaultlink: #d46a53;
		--hoverlink: #FB7F64;
		--transitiontime: 0.2s;
		--widthmax: 85vw; /* default max-width for main content */
		--color1: #3C303E;
		--color2: #FB7F64;
		--color3: #F5EEE2;
		--color4: #C6B895;
	}

	html {
	  scroll-behavior: smooth; /* makes links within same page scroll smoothly */
	  /*margin: 0;
	  padding: 0;*/
	  background-color: var(--color3);
	  color: var(--color1);
	}

	body{
		font-family: "Arial", sans-serif;
		margin: 0;
		padding: 0;
	}

	.content {
		width: min(1000px, var(--widthmax));
		margin: auto;
	}

/* */
/* FONT SETUP */
/* */

	.great-vibes-regular {
	  font-family: "Great Vibes", cursive;
	  font-weight: 400;
	  font-style: normal;
	}

	.freeman-regular {
	  font-family: "Freeman", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	}


/* */
/* TOP NAVIGATION BAR */
/* */

	.navbar {
		overflow: hidden;
		position: fixed;
		background-color: var(--color3);
		top: 0;
		left: 50%; 
		top: 20px;
		transform: translateX(-50%);
		border-radius: 100px;
		border: solid 1px lightgrey;
		box-shadow: 1px 1px 10px #00000020; /* right shift, down shift, blur */
		z-index: 100;
	}

	.navbar-elements {
		width: min(1100px, calc(var(--widthmax) + 7vw));
		margin: auto;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.navbar a {
		float: left;
		display: block;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-size: 200%; /* has narrowscreen override */
		color: var(--color1);
		font-family: Freeman;
	}

	.nav-spacer {
		margin-top: 140px;  /* has narrowscreen override */
	}

	.active-link {
		background-color: #0000000d;
	}

	.navbar a:hover {
		background-color: #d1c9b4;
		color: initial;
	}

	.navbar a {
		padding: 0.1em 0.5em 0.1em 0.5em;
		border-radius: 100px;
		transition: background-color var(--transitiontime);
	}

/* */
/* FADE SLIDE IN */
/* */ 
/* adapted from https://blog.hubspot.com/website/css-fade-in */

	.fade {
	  opacity: 0;
	  transform: translate(0, 10vh);
	  transition-duration: 1s;
	  transition-delay: 0.25s;
	}

	.fade.visible {
	  opacity: 1;
	  transform: translate(0, 0);
	}

/* */
/* RESIZEABLE CONTAINERS */
/* */

.full-width-media {
	width: min(1000px, var(--widthmax)); /* has narrowscreen override */
	border-radius: 35px; /* has narrowscreen override */
}

.flexcontainer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

/* */
/* BASIC STYLES */
/* */

	h1, h2 {
		margin-top: 50px;  /* has narrowscreen override */
		margin-bottom: 20px;
		font-family: freeman;
		color: var(--color1);
	}

	h1 {
		font-size: 300%;
	}

	h2 {
		font-size: 200%;
	}

	li, p {
		line-height: 1.5;
		margin-top: 0px;
		color: var(--color1);
	}

	a {
		color: var(--defaultlink);
		text-decoration:none;
		transition:color var(--transitiontime) ease-in-out; 
		font-size: inherit;
	}

	a:hover {
		color: var(--hoverlink);
	}

	.button div, .big-button div {
		background-color: var(--defaultlink);
		padding: 10px; /* has narrowscreen override */
		border-radius: 10px;
		box-shadow: 3px 3px 3px grey; /* right shift, down shift, blur */
		color: white;
		font-size: 120%;
		font-weight: bold;
		text-shadow: 1px 1px 2px black;
		transition:background-color var(--transitiontime) ease-in-out; 
	}

	.big-button div {
		padding: 20px; /* has narrowscreen override */
		font-size: 200%;
	}

	.button div:hover, .big-button div:hover {
		background-color: var(--hoverlink);
	}

	.label {
		font-weight: bold;
	}

	.sublabel {
		font-style: italic;
	}

	.emphatic {
		font-size:150%; 
		font-weight:bold;
	}

	.tinytext {
		font-size: 80%;
	}

	.color{
		background-image: linear-gradient(330deg, var(--color2), rgb(175, 0, 105));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	.hoverdisplay {
		opacity: 0;
		transition-duration: var(--transitiontime);
	}

	.hoverdisplay:hover {
		opacity: 1;
	}

/* */
/* TABLES */
/* */

	.top-align tr {
		vertical-align: top;
	}

	td {
		padding: 10px;
	}

	.timetable td {
		text-align: center;
		padding: 0px;
		width: calc(100%/8);
	}

	table.timetable {
			border-spacing: 3px;
	}

	.available {
		background-color: #b2cca9;
	}

/* */
/* BLOCKQUOTES */
/* */

	[class*="blockquote"] td { /* this is in order to hit any parent element that has blockquote as one of the classes, potentialy among others */
		padding: 0px;
	}

	blockquote { 
		position: relative; 
		padding: 1.5em 3em 0.5em 3em;  /* has narrowscreen override */
		background: #0000000d; 
		margin: 0 auto 30px; 
		border-radius: 20px;
	}

	[class*="blockquote"] > tbody > tr:last-child > td > blockquote {
		margin-bottom: 0px;
	}

	blockquote:before { 
		position: absolute; 
		content: '\201C'; 
		top: 0.75em; 
		left: 0.5em; 
		font-size: 2.2em; 
		line-height: 1; 
		font-weight: bold; 
	}

	.client-image {
		width: min(150px, 15vw);
		padding-right: 10px;
	}

/* */
/* DETAILS + SUMMARY (GENERAL) */
/* */

	summary {
		cursor: pointer;
	}

/* */
/* FAQ DIVS */
/* */

	div.FAQ > details {
		border-bottom: 2px solid var(--color3);
	}

	div.FAQ > details > div {
		padding: 15px;
	}

	div.FAQ > details > summary {
		list-style: none;
		padding: 15px; /* has narrowscreen override */
		color: var(-color1);
		background-color: #0000000d;
		transition:background-color var(--transitiontime) ease-in-out;
		border-radius: 10px;
		font-weight: bold;
	}

	div.FAQ > details > summary.red{
		background-color: #FFBABA;
		border-radius: 10px;
		border-style: solid;
		border-color: darkred;
		color: darkred;
	}

	div.FAQ > details > summary:hover {
		background-color: #d1c9b4;
		border-radius: 10px;
	}

	div.FAQ > details > summary.red:hover {
		background-color: #FFACAC;
		border-radius: 10px;
	}

/* */
/* FOOTER */
/* */

	footer {
		background-color: var(--color1);
	}

	footer p {
		color: var(--color3);
	}

	footer p.minortext {
		color: var(--color4);
	}

/* */
/* EMAIL LINK TOOLTIPS */
/* following code from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */
/* */

	.tooltip {
	  position: relative;
	}

	.tooltip .tooltiptext {
	  visibility: hidden;
	  background-color: #555;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px;
	  position: absolute;
	  z-index: 1;
	  bottom: 100%;
	  left: 50%;
	  margin-left: -75px;
	  opacity: 0;
	  transition: opacity 0.3s;
	  font-size: 80%;
	}

	.tooltip .tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	}

	.tooltip:hover {
		cursor:copy;
	}

	.tooltip:hover .tooltiptext {
	  visibility: visible;
	  opacity: .9;
	}

/* */
/* READMORE LINKS */
/* */

	.readMore .addText {
	    display: none;
	}

/* */
/* WIDE SCREEN OVERRIDES: overrides that happen when the layout is wide */
/* apparently, the width inside the media query cannot be replaced by a variable :( */
/* */

	@media (width >= 900px) {
		.narrowscreen{
			display:none;
		}
	}

/* */
/* NARROW SCREEN OVERRIDES: overrides that happen when the layout is narrow */
/* apparently, the width inside the media query cannot be replaced by a variable :( */
/* */

	@media (width < 900px) {
		.widescreen{
			display:none;
		}

		h1.smaller-for-narrow-screen {
			font-size: 200%;
		}

		.full-width-media {
			width: 100%;
			border-radius: 0px;
		}

		blockquote{
			padding: 1.5em 1.5em 0.5em 3em; 
		}

		.navbar a {
			font-size: calc(32*(100vw/900));
		}

		.nav-spacer {
			margin-top: calc(70px + 70*(100vw/900));
		}

		.announcement {
			font-size: 80%;
			line-height: 80%
		}
	}
