/* set variables for future use in the CSS */
:root {
	--defaultlink: #d46a53;
	--hoverlink: #FB7F64;
	--transitiontime: 0.2s;
	--widthmax: 85vw; /* default max-width for main content */
	--color1: #3C303E;
	--color2: #FB7F64;
	--color3: #F5EEE2;
	--color4: #C6B895;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: var(--color3);
  color: var(--color1);
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
	font-family: "Arial";
	margin: 0;
	padding: 0;
}

.navbar {
	overflow: hidden;
	position: fixed;
	background-color: var(--color3);
	top: 0;
	width: 100%;
	box-shadow: 1px 1px 10px grey; /* right shift, down shift, blur */
	z-index: 100;
}

.navbar-elements{
	width: min(1000px, var(--widthmax));
	margin: auto;
	padding-top: 14px;
	padding-bottom: 14px;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  /* padding: 14px 50px 14px 0px; /* has narrowscreen override */
  text-decoration: none;
  font-weight: bold;
  font-size: 200%; /* has narrowscreen override */
  color: var(--color1);
  font-family: Freeman;
}

.nav-spacer {
	margin-top: 100px;  /* has narrowscreen override */
}

.content {
	width: min(1000px, var(--widthmax));
	margin: auto;
}

.full-width-media {
	width: min(1000px, var(--widthmax)); /* has narrowscreen override */
	border-radius: 35px; /* has narrowscreen override */
}

.flexcontainer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

li, p {
	line-height: 1.5;
	margin-top: 0px;
	color: var(--color1);
}

a {
	color: var(--defaultlink);
	text-decoration:none;
	transition:color var(--transitiontime) ease-in-out; 
	font-size: inherit;
}

a:hover {
  color: var(--hoverlink	);
}

.button div, .big-button div {
	background-color: var(--defaultlink);
	padding: 10px; /* has narrowscreen override */
	border-radius: 10px;
	box-shadow: 3px 3px 3px grey; /* right shift, down shift, blur */
	color: white;
	font-size: 120%;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	transition:background-color var(--transitiontime) ease-in-out; 
}

/* differences between .big-button div and .button div */
.big-button div {
	padding: 20px; /* has narrowscreen override */
	font-size: 200%;
}

.button div:hover, .big-button div:hover {
	background-color: var(--hoverlink);
}

.top-align tr {
	vertical-align: top;
}

td {
	padding: 10px;
}

[class*="blockquote"] td { /* this is in order to hit any parent element that has blockquote as one of the classes, potentialy among others */
	padding: 0px;
}

blockquote { 
	position: relative; 
	padding: 1.5em 3em 0.5em 3em;  /* has narrowscreen override */
	background: #0000000d; 
	margin: 0 auto 30px; 
	border-radius: 20px;
}

blockquote:before { 
	position: absolute; 
	content: '\201C'; 
	top: 0.75em; 
	left: 0.5em; 
	font-size: 2.2em; 
	line-height: 1; 
	font-weight: bold; 
}

h1 {
	margin-top: 50px;  /* has narrowscreen override */
	margin-bottom: 20px;
	font-family: freeman;
	font-size: 300%;
	color: var(--color1);
}

details {
	border-bottom: 2px solid var(--color3);
}

details > div {
	padding: 15px;
}

.client-image {
	width: min(150px, 15vw);
	padding-right: 10px;
}

summary {
	cursor: pointer;
	list-style: none;
	padding: 15px; /* has narrowscreen override */
	color: var(-color1);
	background-color: var(--color4);
	transition:background-color var(--transitiontime) ease-in-out;
	border-radius: 10px;
	font-weight: bold;
}

summary.red{
	background-color: #FFBABA;
	border-radius: 10px;
	border-style: solid;
	border-color: darkred;
	color: darkred;
}

summary:hover {
	background-color: #d1c9b4;
	border-radius: 10px;
}

summary.red:hover {
	background-color: #FFACAC;
	border-radius: 10px;
}

footer {
	background-color: var(--color1);
}

footer p {
	color: var(--color3);
}

footer p.minortext {
	color: var(--color4);
}

.label {
	font-weight: bold;
}

.sublabel {
	font-style: italic;
}

.emphatic {
	font-size:150%; 
	font-weight:bold;
}

.timetable td {
	text-align: center;
	padding: 0px;
	width: calc(100%/8);
}

table.timetable {
		border-spacing: 3px;
}

.tinytext{
	font-size: 80%;
}

.available {
	background-color: #b2cca9;
}


/* following code from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */

.tooltip {
  position: relative;
  /* display: inline-block; */ /* this caused weird sizing things, not sure why this was here */
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 80%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
	cursor:pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .9;
}

.readMore .addText {
    display: none;
}

/*overrides that happen when the layout is wide */
/* apparently, the width inside the media query cannot be replaced by a variable :( */
@media (width >= 900px) {
	.narrowscreen{
		display:none;
	}
}

/* overrides that happen when the layout is narrow */
/* apparently, the width inside the media query cannot be replaced by a variable :( */
@media (width < 900px) {
	.widescreen{
		display:none;
	}

	.full-width-media {
		width: 100%;
		border-radius: 0px;
	}

	blockquote{
		padding: 1.5em 1.5em 0.5em 3em; 
	}

	h1{
		margin-top: 30px;
	}

	.navbar a {
		/* padding: 14px calc(50*(100vw/900)) 14px 0px; */
		font-size: calc(32*(100vw/900));
	}

	.nav-spacer {
		margin-top: calc(15px + 100*(100vw/900));
	}

	.announcement {
		font-size: 80%
	}
}